.default-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a:hover {
  text-decoration: none; }

.CommonHeadingh4, .CommonHeadingh1 {
  text-transform: uppercase; }

.CommonHeadingh4 {
  font-size: 12px;
  color: #fe7702;
  letter-spacing: 0; }

.CommonHeadingh1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  display: inline-block;
  letter-spacing: 1px; }

.CommonHeadingh1:before, .CommonHeadingh1:after {
  content: '';
  width: 1px;
  height: 17px;
  background: #575757;
  position: absolute; }

.CommonHeadingh1:before {
  left: -18px;
  top: 8px; }

.CommonHeadingh1:after {
  top: 10px;
  right: -19px; }

.recentHeading {
  padding-top: 50px; }

.CommonHeadingh1 span.line:before, .CommonHeadingh1 span.line:after {
  content: '';
  width: 97px;
  height: 1px;
  background: #575757;
  position: absolute; }

.CommonHeadingh1 span.line:before {
  left: -116px;
  top: 16px; }

.CommonHeadingh1 span.line:after {
  right: -117px;
  top: 18px; }

.common-btn {
  min-width: 100px;
  height: 45px;
  color: #fff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0 32px;
  border: 2px solid transparent;
  transition: ease all .4s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .common-btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: ease all .4s; }

.br-left {
  border-radius: 20px 0 20px 0; }

.br-right {
  border-radius: 0 20px 0 20px; }

.orange-btn {
  border: 2px solid #ff5004; }
  .orange-btn:before {
    width: 100%;
    background: #ff5004; }
  .orange-btn:hover {
    color: #ffffff; }
  .orange-btn:hover:before {
    width: 0; }

.outline-orange-btn {
  color: #ff5004;
  border: 2px solid #ff5004; }

.outline-white-btn {
  color: #ffffff;
  border: 2px solid #ffffff; }
  .outline-white-btn:hover:before {
    background: #ff5004;
    width: 100%; }
  .outline-white-btn:hover {
    color: #ffffff;
    border-color: #ff5004; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75; }

html {
  scroll-behavior: smooth; }

/*** Top Bar ***/
.top-bar {
  background: rgba(0, 63, 125, 0.6); }
  .top-bar .top-head-links ul li {
    position: relative;
    height: 35px; }
    .top-bar .top-head-links ul li a {
      font-size: 16px;
      color: #fff; }
  .top-bar .top-head-links.social-links ul li {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .top-bar .top-head-links.social-links ul li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      background: orange;
      z-index: 0;
      transition: ease all .4s; }
    .top-bar .top-head-links.social-links ul li a {
      position: relative;
      z-index: 1; }
    .top-bar .top-head-links.social-links ul li:nth-child(3):hover:before {
      background-color: #f85f46;
      height: 100%; }
    .top-bar .top-head-links.social-links ul li:nth-child(4):hover:before {
      background-color: #1582ab;
      height: 100%; }
    .top-bar .top-head-links.social-links ul li:first-child:hover:before {
      background-color: #3a559f;
      height: 100%; }
    .top-bar .top-head-links.social-links ul li:nth-child(2):hover:before {
      background-color: #55a9e0;
      height: 100%; }
    .top-bar .top-head-links.social-links ul li:nth-child(3):hover:before {
      background-color: #f85f46;
      height: 100%; }
    .top-bar .top-head-links.social-links ul li:nth-child(4):hover:before {
      background-color: #1582ab;
      height: 100%; }
  .top-bar .top-head-links.contact-links ul li {
    margin-right: 15px;
    display: flex;
    align-items: center; }
    .top-bar .top-head-links.contact-links ul li a {
      font-size: 14px; }
      .top-bar .top-head-links.contact-links ul li a i {
        margin-right: 5px; }

/*** End Top Bar ***/
/*** Slider Section ***/
.slider-section {
  background: url(../images/slider.jpg);
  min-height: 700px;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .slider-section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }
  .slider-section .nav-wrapper {
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    position: relative; }
    .slider-section .nav-wrapper .main-navigation nav {
      padding-top: 0;
      padding-bottom: 0; }
      .slider-section .nav-wrapper .main-navigation nav .collapse {
        justify-content: flex-end; }
      .slider-section .nav-wrapper .main-navigation nav .navbar-brand {
        padding: 0; }
        .slider-section .nav-wrapper .main-navigation nav .navbar-brand img {
          max-width: 80px; }
      .slider-section .nav-wrapper .main-navigation nav ul li .nav-link {
        height: 75px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        color: #333333;
        font-weight: 400;
        padding-right: .8rem;
        padding-left: .8rem;
        position: relative;
        z-index: 0; }
        .slider-section .nav-wrapper .main-navigation nav ul li .nav-link:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 0%;
          background-color: #ff5004;
          transition: ease height .3s, ease color .10s;
          z-index: -1; }
        .slider-section .nav-wrapper .main-navigation nav ul li .nav-link:hover:before {
          height: 100%; }
        .slider-section .nav-wrapper .main-navigation nav ul li .nav-link:hover {
          color: #ffffff; }
      .slider-section .nav-wrapper .main-navigation nav ul li.callto a {
        background-color: #ff5004;
        color: #ffffff;
        font-size: 14px; }
        .slider-section .nav-wrapper .main-navigation nav ul li.callto a i {
          margin-right: 5px;
          display: inline-block; }
  .slider-section .slider-text {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .slider-section .slider-text h1 {
      color: #ffffff;
      font-size: 48px; }
    .slider-section .slider-text p {
      color: #ffffff;
      line-height: 25px; }
  .slider-section .arrow-down {
    cursor: pointer;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 15px;
    cursor: pointer; }
    .slider-section .arrow-down svg {
      fill: #ffffff;
      width: 34px; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
/***Our Services ***/
.Features {
  background: #2d2d2d;
  padding-bottom: 70px; }

.FeaturesIcon {
  width: 72px;
  height: 82px;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative; }

.FeaturesIcon:before {
  content: '';
  width: 0px;
  height: 0px;
  left: 0px;
  top: 71px;
  position: absolute;
  border-right: 12px solid transparent;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.FeaturesIcon.Icon-1 {
  background: url(../images/feature-img-1.png); }

.FeaturesIcon.Icon-2 {
  background: url(../images/feature-img-2.png); }

.FeaturesIcon.Icon-3 {
  background: url(../images/feature-img-3.png); }

.FeaturesIcon.Icon-4 {
  background: url(../images/feature-img-4.png); }

.FeaturesBox:hover .FeaturesIcon.Icon-1:before {
  border-top: 12px solid #c183d6; }

.FeaturesBox:hover .FeaturesIcon.Icon-2:before {
  border-top: 12px solid #3099ca; }

.FeaturesBox:hover .FeaturesIcon.Icon-3:before {
  border-top: 12px solid #73c8b7; }

.FeaturesBox:hover .FeaturesIcon.Icon-4:before {
  border-top: 12px solid #eb768c; }

.FeaturesBox:hover .FeaturesIcon.Icon-1 i {
  color: #fff; }

.FeaturesBox:hover .FeaturesIcon.Icon-2 i.fa {
  color: #fff; }

.FeaturesBox:hover .FeaturesIcon.Icon-3 i {
  color: #fff; }

.FeaturesBox:hover .FeaturesIcon.Icon-4 i {
  color: #fff; }

.FeatureText h3 {
  font-size: 15px;
  color: #fff; }

.FeatureText p {
  font-size: 13px;
  color: #969595;
  padding: 0 6px; }

.FeaturesInner {
  padding-top: 100px; }

.FeaturesIcon i {
  font-size: 24px;
  line-height: 72px; }

.FeaturesIcon.Icon-1 i {
  color: #c183d6;
  font-size: 28px; }

.FeaturesIcon.Icon-2 i.fa {
  color: #3099ca; }

.FeaturesIcon.Icon-3 i {
  color: #73c8b7;
  font-size: 30px; }

.FeaturesIcon.Icon-4 i {
  color: #eb768c;
  font-size: 30px; }

.FeatureText h3 {
  padding-top: 30px;
  padding-bottom: 34px;
  letter-spacing: 1px; }

/**Footer**/
footer {
  background: #313131;
  padding-top: 100px;
  padding-bottom: 100px; }

.footerBox h4 {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px; }

.footerBox .footerlinks {
  padding-top: 27px; }
  .footerBox .footerlinks li a {
    color: #969595;
    font-size: 13px;
    transition: ease all .4s; }
    .footerBox .footerlinks li a:hover {
      color: #31aae2; }

.footerBox p {
  font-size: 13px;
  color: #969595;
  padding-top: 27px;
  padding-bottom: 0;
  line-height: 21px;
  margin-bottom: 0; }

.footerlistAddress {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.footerlistAddress li {
  font-size: 13px;
  color: #969595;
  position: relative;
  border-bottom: 1px solid #3c3c3c;
  padding-left: 27px;
  padding-top: 15px;
  padding-bottom: 12px; }

ul.footerlistAddress li a {
  color: #969595; }

.footerlistAddress p {
  padding: 0;
  font-size: 13px; }

.footerlistAddress li span {
  position: absolute;
  left: 0; }

.footerlistAddress li i.fa {
  color: #4a4a4a;
  font-size: 15px; }

.footerlistAddress li:nth-child(2) span {
  top: 14px; }

.footerlistAddress li:nth-child(1) {
  border-top: 1px solid #3c3c3c; }

.latestImgtext h5 {
  color: #fff;
  line-height: 20px;
  font-size: 13px; }

.footerLupdates .latestImg {
  width: 59px;
  height: 59px;
  background: #4a4a4a;
  float: left; }

.footerLupdates .latestImgtext {
  float: right;
  width: 193px; }

.footerLupdates .latestImgtext p {
  padding: 0;
  font-size: 10px;
  color: #6b6b6b;
  line-height: 13px; }

.footerBox .footerLupdates:nth-child(3) {
  border: none; }

.footerMailingList p:last-child {
  padding-top: 23px; }

.footerLupdates {
  padding-top: 27px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3c3c3c; }

.footerBox .updateBtn a {
  font-size: 12px;
  color: #969595;
  text-decoration: none;
  transition: ease all .4s;
  float: left; }

.footerBox .updateBtn a i.fa {
  font-size: 13px;
  color: #31a2d7;
  padding-left: 1px;
  position: relative;
  transition: ease all .4s;
  top: 2px; }

.footerBox .updateBtn a:hover i.fa {
  color: #969595;
  padding-left: 5px; }

.footerBox .updateBtn a:hover {
  color: #31a2d7; }

.footerMailingList input[type="text"] {
  height: 38px;
  border-radius: 0;
  background: #4a4a4a;
  border: 1px solid #4a4a4a;
  box-shadow: none; }

.footerMailingList input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #969595;
  font-size: 12px;
  letter-spacing: 0.6px; }

.footerMailingList input[type="text"]:focus {
  color: #969595; }

.footerMailingList .input-group-addon {
  background: #31aae2;
  font-size: 11px;
  color: #fff;
  border-radius: 0;
  border: 1px solid #31aae2;
  transition: ease all .2s;
  display: flex;
  width: 45px;
  align-items: center;
  justify-content: center; }

.footerMailingList .input-group-addon:hover {
  border: 1px solid #31aae2;
  background: #4a4a4a;
  cursor: pointer; }

.FooterImgBox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 27px;
  display: block;
  width: 100%;
  float: left;
  padding-bottom: 23px; }

.FooterImgBox li img {
  width: 64px;
  height: 64px; }

.FooterImgBox li {
  width: 64px;
  height: 64px;
  background: #4a4a4a;
  float: left;
  margin-right: 5px;
  margin-top: 5px; }

/**End-Footer**/
/***Contact-Form**/
section.ContactForm {
  background: #2d2d2d;
  padding-top: 50px;
  padding-bottom: 18px; }

.FooterFormFeild input[type="text"] {
  height: 52px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 18px;
  letter-spacing: 0.6px; }

.FooterFormFeild input[type="text"]::-webkit-input-placeholder,
.FooterFormMsg textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: #969595; }

.FooterFormMsg textarea {
  border-radius: 0;
  box-shadow: none;
  border: none;
  letter-spacing: 0.6px;
  resize: none; }

.FooterSocial {
  margin-top: 37px; }
  .FooterSocial ul {
    display: flex; }
    .FooterSocial ul li {
      margin-right: 5px; }
      .FooterSocial ul li a {
        display: flex;
        width: 35px;
        height: 35px;
        border: 2px solid #595959;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        color: #ffffff; }
      .FooterSocial ul li:first-child a {
        border-color: #3a559f;
        color: #3a559f; }
      .FooterSocial ul li:nth-child(2) a {
        border-color: #55a9e0;
        color: #55a9e0; }
      .FooterSocial ul li:nth-child(3) a {
        border-color: #f85f46;
        color: #f85f46; }
      .FooterSocial ul li:nth-child(4) a {
        border-color: #1582ab;
        color: #1582ab; }

.CopyRight {
  background: #2d2d2d;
  min-height: 40px;
  position: relative;
  justify-content: center;
  align-items: center; }
  .CopyRight p {
    color: #6b6b6b;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    height: 100%;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .CopyRight p a {
      display: inline-block;
      margin: 0 4px; }

/*** End Footer ***/

/*# sourceMappingURL=style.css.map */
